.image-wrapper-150 {
    position: relative;
    padding-top: 150%;
}

.image-absolute {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

a {
    text-decoration: none;
}

.background-img {
    background-image: url('../../img/download.jpg');
    height: 100vh;
}

.play-btn {
    cursor: pointer;
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: white;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.4s;
}

.play-btn:hover {
    transition: 0.4s;
    transform: translateY(-50%) scale(1.2);

}

.play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 15px;
    width: 15px;
    transform: translate(-50%, -50%);

}

.middle {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.color-grey {
    color: grey;
}

.lh-2 {
    line-height: 2;
}

.floating-box {
    position: absolute;
}

.contact-btn {
    cursor: pointer;
    height: 30px;
    width: 125px;
    color: white;
    background-color: black;
    border: 1px solid black;
    transition: 0.4s;
}

.contact-btn:hover {
    color: black;
    background-color: white;
    transition: 0.4s;
}

@media (max-width:768px){
    .play-btn {
        top: auto;
        right: 50%;
        bottom: -25px;

    }
}